include search.pug


mixin dashboard()
  .section__main.dashboard.section__main-inactive
    .section__header
      .section__header__section__header-title-wrapper
        .section__header-title Dashboard
        .section__header-subtitle Active Members
      +search
