mixin help()
  .section__main.help.section__main-inactive
    .section__header
      .section__header-title-wrapper
        .section__header-title Help
        .section__header-subtitle Active Members
      .search
        search__label.search__label
          img.search__img(src='./assets/img/search.svg' alt='search')
          input.search__input(type='text' placeholder='Search')