include search.pug


mixin income()
  .section__main.income.section__main-inactive
    .section__header
      .section__header-title-wrapper
        .section__header-title Income
        .section__header-subtitle Active Members
      +search
