include sidebar.pug
include section.pug
include dashboard.pug
include product.pug
include income.pug
include promote.pug
include help.pug

mixin main()
  main.main
    +sidebar
    +section
      +dashboard
      +product  
      +income
      +promote
      +help
      