mixin navigation()
  nav.nav
    ul.nav__list
      li.nav__list-item
        a.nav__link.dashboard
          svg.icon.icon-key-square.start
            use(xlink:href='#icon-key-square')
          span Dashboard
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')
      li.nav__list-item
        a.nav__link.product
          svg.icon.icon-d-square.start
            use(xlink:href='#icon-d-square')
          span Product
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')
      li.nav__list-item
        a.nav__link.customers
          svg.icon.icon-user-square.start
            use(xlink:href='#icon-user-square')
          span Customers
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')
      li.nav__list-item
        a.nav__link.income
          svg.icon.icon-wallet-money.start
            use(xlink:href='#icon-wallet-money')
          span Income
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')
      li.nav__list-item
        a.nav__link.promote
          svg.icon.icon-discount-shape.start
            use(xlink:href='#icon-discount-shape')
          span Promote
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')
      li.nav__list-item
        a.nav__link.help
          svg.icon.icon-message-question.start
            use(xlink:href='#icon-message-question')
          span Help
          svg.icon.icon-chevron-right
            use(xlink:href='#icon-chevron-right')