include search.pug

mixin promote()
  .section__main.promote.section__main-inactive
    .section__header
      .section__header-title-wrapper
        .section__header-title Promote
        .section__header-subtitle Active Members
      +search
