include customers.pug
include dashboard.pug
include product.pug
include income.pug
include promote.pug
include help.pug

mixin section()
  .section
    +customers
    +dashboard
    +product  
    +income
    +promote
    +help
