include tHead.pug

mixin table()
  .customers__table-wrapper
    table.customers__table
      +tHead
      tbody
        tr
          td.first-in-line(data-search__label='Name')
            | Jane Cooper
          td(data-search__label='Company') Microsoft
          td(data-search__label='Phone') (225) 555-0118
          td(data-search__label='Mail') jane@microsoft.com
          td(data-search__label='Country') United States
          td.status-btn(data-search__label='Button')
            button.btn-active(onclick='toggleButton(this)' type='button')
              | Active
        tr
          td.first-in-line(data-search__label='Name')
            | Floyd Miles
          td(data-search__label='Company') Yahoo
          td(data-search__label='Phone') (205) 555-0100
          td(data-search__label='Mail') floyd@yahoo.com
          td(data-search__label='Country') Kiribati
          td.status-btn(data-search__label='Button')
            button.btn-inactive(onclick='toggleButton(this)' type='button')
              | Inactive
        tr
          td.first-in-line(data-search__label='Name')
            | Ronald Richards
          td(data-search__label='Company') Adobe
          td(data-search__label='Phone') (302) 555-0107
          td(data-search__label='Mail') ronald@adobe.com
          td(data-search__label='Country') Israel
          td.status-btn(data-search__label='Button')
            button.btn-inactive(onclick='toggleButton(this)')
              | Inactive
        tr
          td.first-in-line(data-search__label='Name')
            | Marvin McKinney
          td(data-search__label='Company') Tesla
          td(data-search__label='Phone') (252) 555-0126
          td(data-search__label='Mail') marvin@tesla.com
          td(data-search__label='Country') Iran
          td.status-btn(data-search__label='Button')
            button.btn-active(onclick='toggleButton(this)' type='button')
              | Active
        tr
          td.first-in-line(data-search__label='Name')
            | Jerome Bell
          td(data-search__label='Company') Google
          td(data-search__label='Phone') (629) 555-0129
          td(data-search__label='Mail') jerome@google.com
          td(data-search__label='Country') R&eacute;union
          td.status-btn(data-search__label='Button')
            button.btn-active(onclick='toggleButton(this)' type='button')
              | Active
        tr
          td.first-in-line(data-search__label='Name')
            | Kathryn Murphy
          td(data-search__label='Company') Microsoft
          td(data-search__label='Phone') (406) 555-0120
          td(data-search__label='Mail') kathryn@microsoft.com
          td(data-search__label='Country') Cura&ccedil;ao
          td.status-btn(data-search__label='Button')
            button.btn-active(onclick='toggleButton(this)' type='button')
              | Active
        tr
          td.first-in-line(data-search__label='Name')
            | Jacob Jones
          td(data-search__label='Company') Yahoo
          td(data-search__label='Phone') (208) 555-0112
          td(data-search__label='Mail') jacob@yahoo.com
          td(data-search__label='Country') Brazil
          td.status-btn(data-search__label='Button')
            button.btn-active(onclick='toggleButton(this)' type='button')
              | Active
        tr
          td.first-in-line(data-search__label='Name')
            | Kristin Watson
          td(data-search__label='Company') Facebook
          td(data-search__label='Phone') (704) 555-0127
          td(data-search__label='Mail') kristin@facebook.com
          td(data-search__label='Country') &angst;land Islands
          td.status-btn(data-search__label='Button')
            button.btn-inactive(onclick='toggleButton(this)' type='button')
              | Inactive