mixin tHead()
  thead
    tr
      th.customer-name(scope='col') Customer Name
      th.company(scope='col') Company
      th.phone-number(scope='col') Phone Number
      th.email(scope='col') Email
      th.country(scope='col') Country
      th.status(scope='col') Status