include components/header.pug
include components/main.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(rel='icon' type='image/x-icon' href='./assets/img/logo.svg')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='./styles/normalize.css')
  link(rel='stylesheet' href='./styles/variables.css')
  link(rel='stylesheet' href='./styles/main.css')
  link(rel='stylesheet' href='./styles/local.css')
  link(rel='stylesheet' href='./styles/table.css')
svg(aria-hidden='true' style='position: absolute; width: 0; height: 0; overflow: hidden' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#icon-d-square(viewbox='0 0 32 32')
      path(d='M20.465 32h-8.93c-8.082 0-11.535-3.453-11.535-11.535v-8.93c0-8.082 3.453-11.535 11.535-11.535h8.93c8.082 0 11.535 3.453 11.535 11.535v8.93c0 8.082-3.453 11.535-11.535 11.535zM11.535 2.233c-6.861 0-9.302 2.441-9.302 9.302v8.93c0 6.861 2.441 9.302 9.302 9.302h8.93c6.861 0 9.302-2.441 9.302-9.302v-8.93c0-6.861-2.441-9.302-9.302-9.302h-8.93z')
      path(d='M16.001 17.607c-0.194 0-0.387-0.045-0.566-0.149l-7.888-4.554c-0.536-0.313-0.714-0.997-0.402-1.518 0.313-0.536 0.997-0.714 1.518-0.402l7.323 4.242 7.278-4.212c0.536-0.313 1.22-0.119 1.518 0.402s0.119 1.22-0.402 1.518l-7.829 4.525c-0.164 0.089-0.357 0.149-0.551 0.149z')
      path(d='M16 25.704c-0.61 0-1.116-0.506-1.116-1.116v-8.097c0-0.61 0.506-1.116 1.116-1.116s1.116 0.506 1.116 1.116v8.097c0 0.61-0.506 1.116-1.116 1.116z')
      path(d='M16 26.046c-0.863 0-1.711-0.194-2.396-0.566l-4.763-2.649c-1.429-0.789-2.53-2.679-2.53-4.316v-5.046c0-1.622 1.116-3.513 2.53-4.316l4.763-2.649c1.369-0.759 3.423-0.759 4.792 0l4.763 2.649c1.429 0.789 2.53 2.679 2.53 4.316v5.046c0 1.622-1.116 3.513-2.53 4.316l-4.763 2.649c-0.685 0.387-1.533 0.566-2.396 0.566zM16 8.186c-0.491 0-0.967 0.089-1.31 0.283l-4.763 2.649c-0.729 0.402-1.384 1.533-1.384 2.352v5.046c0 0.833 0.655 1.95 1.384 2.352l4.763 2.649c0.685 0.387 1.935 0.387 2.62 0l4.763-2.649c0.729-0.402 1.384-1.533 1.384-2.352v-5.046c0-0.833-0.655-1.95-1.384-2.352l-4.763-2.649c-0.342-0.194-0.819-0.283-1.31-0.283z')
    symbol#icon-arrow-left(viewbox='0 0 32 32')
      path(d='M19.031 32l-16.211-16 16.211-16h10.15l-16.282 16 16.282 16h-10.15z')
    symbol#icon-arrow-right(viewbox='0 0 32 32')
      path(d='M2.819 0h10.15l16.211 16-16.211 16h-10.15l16.282-16-16.282-16z')
    symbol#icon-chevron-right(viewbox='0 0 32 32')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='4' d='M9 30l14-14-14-14')
    symbol#icon-discount-shape(viewbox='0 0 32 32')
      path(d='M16 31.978c-0.938 0-1.816-0.357-2.471-1.027l-2.262-2.262c-0.179-0.179-0.655-0.372-0.893-0.372h-3.215c-1.935 0-3.498-1.563-3.498-3.498v-3.215c0-0.238-0.193-0.714-0.372-0.893l-2.262-2.262c-0.655-0.655-1.027-1.533-1.027-2.471s0.357-1.816 1.027-2.471l2.262-2.262c0.179-0.179 0.372-0.655 0.372-0.893v-3.215c0-1.935 1.563-3.498 3.498-3.498h3.215c0.238 0 0.714-0.194 0.893-0.372l2.262-2.262c1.31-1.31 3.632-1.31 4.941 0l2.262 2.262c0.179 0.179 0.655 0.372 0.893 0.372h3.215c1.935 0 3.498 1.563 3.498 3.498v3.215c0 0.238 0.194 0.714 0.372 0.893l2.262 2.262c0.655 0.655 1.027 1.533 1.027 2.471s-0.357 1.816-1.027 2.471l-2.262 2.262c-0.179 0.179-0.372 0.655-0.372 0.893v3.215c0 1.935-1.563 3.498-3.498 3.498h-3.215c-0.238 0-0.714 0.194-0.893 0.372l-2.262 2.262c-0.655 0.67-1.533 1.027-2.471 1.027zM4.867 19.133c0.595 0.595 1.027 1.637 1.027 2.471v3.215c0 0.7 0.566 1.265 1.265 1.265h3.215c0.833 0 1.875 0.431 2.471 1.027l2.262 2.262c0.476 0.476 1.31 0.476 1.786 0l2.262-2.262c0.595-0.595 1.637-1.027 2.471-1.027h3.215c0.7 0 1.265-0.566 1.265-1.265v-3.215c0-0.833 0.432-1.875 1.027-2.471l2.262-2.262c0.238-0.238 0.372-0.551 0.372-0.893s-0.134-0.655-0.372-0.893l-2.262-2.262c-0.595-0.595-1.027-1.637-1.027-2.471v-3.215c0-0.7-0.566-1.265-1.265-1.265h-3.215c-0.833 0-1.875-0.432-2.471-1.027l-2.262-2.262c-0.476-0.476-1.31-0.476-1.786 0l-2.262 2.262c-0.595 0.595-1.637 1.027-2.471 1.027h-3.215c-0.7 0-1.265 0.566-1.265 1.265v3.215c0 0.833-0.432 1.875-1.027 2.471l-2.262 2.262c-0.238 0.238-0.372 0.551-0.372 0.893s0.134 0.655 0.372 0.893l2.262 2.262z')
      path(d='M20.465 21.931c-0.833 0-1.503-0.67-1.503-1.488s0.67-1.488 1.488-1.488c0.819 0 1.488 0.67 1.488 1.488s-0.655 1.488-1.474 1.488z')
      path(d='M11.55 13.001c-0.833 0-1.503-0.67-1.503-1.488s0.67-1.488 1.488-1.488c0.819 0 1.488 0.67 1.488 1.488s-0.655 1.488-1.473 1.488z')
      path(d='M11.534 21.558c-0.283 0-0.566-0.104-0.789-0.327-0.432-0.432-0.432-1.146 0-1.578l8.93-8.93c0.432-0.432 1.146-0.432 1.578 0s0.432 1.146 0 1.578l-8.93 8.93c-0.223 0.223-0.506 0.327-0.789 0.327z')
    symbol#icon-key-square(viewbox='0 0 32 32')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M11.5 31h9c7.5 0 10.5-3 10.5-10.5v-9c0-7.5-3-10.5-10.5-10.5h-9c-7.5 0-10.5 3-10.5 10.5v9c0 7.5 3 10.5 10.5 10.5z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M22.42 18.415c-1.695 1.695-4.125 2.22-6.27 1.545l-3.885 3.87c-0.27 0.285-0.825 0.465-1.23 0.405l-1.8-0.24c-0.6-0.075-1.14-0.645-1.23-1.23l-0.24-1.8c-0.060-0.39 0.135-0.945 0.405-1.23l3.87-3.87c-0.66-2.145-0.15-4.575 1.545-6.27 2.43-2.43 6.39-2.43 8.835 0 2.43 2.415 2.43 6.375 0 8.82z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M13.675 22.42l-1.275-1.29')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2.6667' d='M18.092 14.050h0.014')
    symbol#icon-logo(viewbox='0 0 32 32')
      path(d='M16 32c-1.008 0-2.031-0.226-2.829-0.692l-8.276-4.77c-3.37-2.272-3.581-2.618-3.581-6.184v-8.697c0-3.566 0.196-3.912 3.506-6.154l8.336-4.815c1.58-0.918 4.063-0.918 5.642 0l8.306 4.785c3.37 2.272 3.581 2.618 3.581 6.184v8.682c0 3.566-0.196 3.912-3.506 6.154l-8.336 4.815c-0.813 0.467-1.836 0.692-2.844 0.692zM16 2.268c-0.632 0-1.249 0.12-1.685 0.376l-8.275 4.785c-2.453 1.655-2.453 1.655-2.453 4.228v8.682c0 2.573 0 2.573 2.513 4.273l8.215 4.74c0.888 0.512 2.498 0.512 3.385 0l8.276-4.785c2.438-1.655 2.438-1.655 2.438-4.228v-8.682c0-2.573 0-2.573-2.513-4.273l-8.215-4.74c-0.436-0.256-1.053-0.376-1.685-0.376z')
      path(d='M16 21.648c-3.115 0-5.642-2.528-5.642-5.642s2.528-5.642 5.642-5.642c3.115 0 5.642 2.528 5.642 5.642s-2.528 5.642-5.642 5.642zM16 12.62c-1.866 0-3.386 1.52-3.386 3.385s1.52 3.386 3.386 3.386c1.866 0 3.385-1.52 3.385-3.386s-1.52-3.386-3.386-3.386z')
    symbol#icon-message-question(viewbox='0 0 32 32')
      path(d='M10.046 31.353c-0.417 0-0.848-0.104-1.235-0.313-0.848-0.447-1.369-1.34-1.369-2.292v-2.113c-4.495-0.461-7.442-3.766-7.442-8.499v-8.93c0-5.12 3.438-8.558 8.558-8.558h14.884c5.12 0 8.558 3.438 8.558 8.558v8.93c0 5.12-3.438 8.558-8.558 8.558h-5.611l-6.34 4.227c-0.432 0.283-0.938 0.431-1.444 0.431zM8.558 2.865c-3.84 0-6.326 2.486-6.326 6.326v8.93c0 3.84 2.486 6.326 6.326 6.326 0.61 0 1.116 0.506 1.116 1.116v3.17c0 0.194 0.119 0.283 0.194 0.327s0.223 0.089 0.387-0.015l6.623-4.406c0.179-0.119 0.402-0.194 0.625-0.194h5.953c3.84 0 6.326-2.486 6.326-6.326v-8.93c0-3.84-2.486-6.326-6.326-6.326h-14.899z')
      path(d='M16 16.156c-0.61 0-1.116-0.506-1.116-1.116v-0.313c0-1.726 1.265-2.575 1.741-2.902 0.551-0.372 0.729-0.625 0.729-1.012 0-0.744-0.61-1.354-1.354-1.354s-1.354 0.61-1.354 1.354c0 0.61-0.506 1.116-1.116 1.116s-1.116-0.506-1.116-1.116c0-1.98 1.607-3.587 3.587-3.587s3.587 1.608 3.587 3.587c0 1.697-1.25 2.545-1.712 2.858-0.58 0.387-0.759 0.64-0.759 1.057v0.313c0 0.625-0.506 1.116-1.116 1.116z')
      path(d='M16 19.863c-0.625 0-1.116-0.506-1.116-1.116s0.506-1.116 1.116-1.116c0.61 0 1.116 0.506 1.116 1.116s-0.491 1.116-1.116 1.116z')
    symbol#icon-search(viewbox='0 0 32 32')
      path(fill='none' stroke='#7e7e7e' style='stroke: var(--color3, #7e7e7e)' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2.6667' d='M14.389 27.278c7.118 0 12.889-5.77 12.889-12.889s-5.77-12.889-12.889-12.889c-7.118 0-12.889 5.771-12.889 12.889s5.771 12.889 12.889 12.889z')
      path(fill='none' stroke='#7e7e7e' style='stroke: var(--color3, #7e7e7e)' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2.6667' d='M30.5 30.5l-7.008-7.008')
    symbol#icon-user-square(viewbox='0 0 32 32')
      path(d='M20.001 29.833h-8c-1.76 0-3.227-0.173-4.467-0.547-0.453-0.133-0.747-0.573-0.72-1.040 0.333-3.987 4.373-7.12 9.187-7.12s8.84 3.12 9.187 7.12c0.040 0.48-0.253 0.907-0.72 1.040-1.24 0.373-2.707 0.547-4.467 0.547zM8.961 27.58c0.88 0.173 1.88 0.253 3.040 0.253h8c1.16 0 2.16-0.080 3.040-0.253-0.707-2.56-3.627-4.453-7.040-4.453s-6.333 1.893-7.040 4.453z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M20 2.167h-8c-6.667 0-9.333 2.667-9.333 9.333v8c0 5.040 1.52 7.8 5.147 8.827 0.293-3.467 3.853-6.2 8.187-6.2s7.893 2.733 8.187 6.2c3.627-1.027 5.147-3.787 5.147-8.827v-8c0-6.667-2.667-9.333-9.333-9.333zM16 18.393c-2.64 0-4.773-2.147-4.773-4.787s2.133-4.773 4.773-4.773c2.64 0 4.773 2.133 4.773 4.773s-2.133 4.787-4.773 4.787z')
      path(d='M16 19.393c-3.187 0-5.773-2.6-5.773-5.787s2.587-5.773 5.773-5.773c3.187 0 5.773 2.587 5.773 5.773s-2.587 5.787-5.773 5.787zM16 9.834c-2.080 0-3.773 1.693-3.773 3.773 0 2.093 1.693 3.787 3.773 3.787s3.773-1.693 3.773-3.787c0-2.080-1.693-3.773-3.773-3.773z')
    symbol#icon-wallet-money(viewbox='0 0 32 32')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M14.138 22.132v3.029c0 2.566-2.387 4.64-5.326 4.64s-5.341-2.074-5.341-4.64v-3.029c0 2.566 2.387 4.386 5.341 4.386 2.939 0 5.326-1.835 5.326-4.386z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M14.135 18.029c0 0.746-0.209 1.432-0.567 2.029-0.88 1.447-2.685 2.357-4.774 2.357s-3.894-0.925-4.774-2.357c-0.358-0.597-0.567-1.283-0.567-2.029 0-1.283 0.597-2.432 1.552-3.267 0.97-0.85 2.297-1.358 3.774-1.358s2.805 0.522 3.775 1.358c0.985 0.82 1.581 1.984 1.581 3.267z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M14.138 18.029v4.103c0 2.566-2.387 4.386-5.326 4.386s-5.341-1.835-5.341-4.386v-4.103c0-2.566 2.387-4.64 5.341-4.64 1.477 0 2.805 0.522 3.775 1.358 0.955 0.835 1.552 1.999 1.552 3.282z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M30.919 13.344v3.073c0 0.82-0.656 1.492-1.492 1.522h-2.924c-1.611 0-3.088-1.179-3.222-2.79-0.090-0.94 0.268-1.82 0.895-2.432 0.552-0.567 1.313-0.895 2.149-0.895h3.103c0.835 0.030 1.492 0.701 1.492 1.522z')
      path(fill='none' stroke-linejoin='round' stroke-linecap='round' stroke-miterlimit='4' stroke-width='2' d='M1.081 12.643v-2.984c0-4.058 2.447-6.893 6.251-7.37 0.388-0.060 0.791-0.090 1.208-0.090h13.427c0.388 0 0.761 0.015 1.119 0.075 3.849 0.448 6.34 3.297 6.34 7.385v2.163h-3.103c-0.835 0-1.596 0.328-2.148 0.895-0.627 0.612-0.985 1.492-0.895 2.432 0.134 1.611 1.611 2.79 3.223 2.79h2.924v2.163c0 4.476-2.984 7.459-7.459 7.459h-3.73')
.app
  // * Page
  .wrapper
    // * Header
  +header
    // * Main
  +main
    //- main.main
    //-   // * sidebar
    //-   aside.sidebar
    //-     .container
    //-       // * Nav
    //-       nav.nav
    //-         ul.nav__list
    //-           li.nav__list-item
    //-             a.nav__link.dashboard
    //-               svg.icon.icon-key-square.start
    //-                 use(xlink:href='#icon-key-square')
    //-               span Dashboard
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-           li.nav__list-item
    //-             a.nav__link.product
    //-               svg.icon.icon-d-square.start
    //-                 use(xlink:href='#icon-d-square')
    //-               span Product
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-           li.nav__list-item
    //-             a.nav__link.customers
    //-               svg.icon.icon-user-square.start
    //-                 use(xlink:href='#icon-user-square')
    //-               span Customers
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-           li.nav__list-item
    //-             a.nav__link.income
    //-               svg.icon.icon-wallet-money.start
    //-                 use(xlink:href='#icon-wallet-money')
    //-               span Income
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-           li.nav__list-item
    //-             a.nav__link.promote
    //-               svg.icon.icon-discount-shape.start
    //-                 use(xlink:href='#icon-discount-shape')
    //-               span Promote
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-           li.nav__list-item
    //-             a.nav__link.help
    //-               svg.icon.icon-message-question.start
    //-                 use(xlink:href='#icon-message-question')
    //-               span Help
    //-               svg.icon.icon-chevron-right
    //-                 use(xlink:href='#icon-chevron-right')
    //-       // * Manager
    //-       .manager
    //-         img(src='./assets/img/manager.jpg' alt='photo')
    //-         .manager__info
    //-           span.manager__name  Evano 
    //-           span.manager__position  Project Manager 
    //-   // * section
    //-   .section
    //-     .section__main.customers.section__main-inactive
    //-       .section__header
    //-         .section__header-section__header-title-wrapper
    //-           .section__header-title All Customers
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
    //-       // * table
    //-       .customers__table-wrapper
    //-         table.customers__table
    //-           thead
    //-             tr.customers-table-header
    //-               th.customer-name(scope='col') Customer Name
    //-               th.company(scope='col') Company
    //-               th.phone-number(scope='col') Phone Number
    //-               th.email(scope='col') Email
    //-               th.country(scope='col') Country
    //-               th.status(scope='col') Status
    //-           tbody
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Jane Cooper
    //-               td(data-search__label='Company') Microsoft
    //-               td(data-search__label='Phone') (225) 555-0118
    //-               td(data-search__label='Mail') jane@microsoft.com
    //-               td(data-search__label='Country') United States
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-active(onclick='toggleButton(this)' type='button')
    //-                   | Active
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Floyd Miles
    //-               td(data-search__label='Company') Yahoo
    //-               td(data-search__label='Phone') (205) 555-0100
    //-               td(data-search__label='Mail') floyd@yahoo.com
    //-               td(data-search__label='Country') Kiribati
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-inactive(onclick='toggleButton(this)' type='button')
    //-                   | Inactive
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Ronald Richards
    //-               td(data-search__label='Company') Adobe
    //-               td(data-search__label='Phone') (302) 555-0107
    //-               td(data-search__label='Mail') ronald@adobe.com
    //-               td(data-search__label='Country') Israel
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-inactive(onclick='toggleButton(this)')
    //-                   | Inactive
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Marvin McKinney
    //-               td(data-search__label='Company') Tesla
    //-               td(data-search__label='Phone') (252) 555-0126
    //-               td(data-search__label='Mail') marvin@tesla.com
    //-               td(data-search__label='Country') Iran
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-active(onclick='toggleButton(this)' type='button')
    //-                   | Active
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Jerome Bell
    //-               td(data-search__label='Company') Google
    //-               td(data-search__label='Phone') (629) 555-0129
    //-               td(data-search__label='Mail') jerome@google.com
    //-               td(data-search__label='Country') R&eacute;union
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-active(onclick='toggleButton(this)' type='button')
    //-                   | Active
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Kathryn Murphy
    //-               td(data-search__label='Company') Microsoft
    //-               td(data-search__label='Phone') (406) 555-0120
    //-               td(data-search__label='Mail') kathryn@microsoft.com
    //-               td(data-search__label='Country') Cura&ccedil;ao
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-active(onclick='toggleButton(this)' type='button')
    //-                   | Active
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Jacob Jones
    //-               td(data-search__label='Company') Yahoo
    //-               td(data-search__label='Phone') (208) 555-0112
    //-               td(data-search__label='Mail') jacob@yahoo.com
    //-               td(data-search__label='Country') Brazil
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-active(onclick='toggleButton(this)' type='button')
    //-                   | Active
    //-             tr
    //-               td.first-in-line(data-search__label='Name')
    //-                 | Kristin Watson
    //-               td(data-search__label='Company') Facebook
    //-               td(data-search__label='Phone') (704) 555-0127
    //-               td(data-search__label='Mail') kristin@facebook.com
    //-               td(data-search__label='Country') &angst;land Islands
    //-               td.status-btn(data-search__label='Button')
    //-                 button.btn-inactive(onclick='toggleButton(this)' type='button')
    //-                   | Inactive
    //-       // * Footer
    //-       footer.footer
    //-         // * info
    //-         .footer-info
    //-           | Showing data 1 to 8 of 256K entries
    //-         // * pagination
    //-         .pagination
    //-           button#prev.pagination__arrow
    //-             svg.icon.icon-arrow-left
    //-               use(xlink:href='#icon-arrow-left')
    //-           button.pagination__button 1
    //-           button.pagination__button.active 2
    //-           button.pagination__button 3
    //-           button.pagination__button 4
    //-           button.pagination__button ...
    //-           button.pagination__button 40
    //-           button#next.pagination__arrow
    //-             svg.icon.icon-arrow-right
    //-               use(xlink:href='#icon-arrow-right')
    //-     // dashboard
    //-     .section__main.dashboard.section__main-inactive
    //-       .section__header
    //-         .section__header__section__header-title-wrapper
    //-           .section__header-title Dashboard
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
    //-     // product
    //-     .section__main.product.section__main-inactive
    //-       .section__header
    //-         .section__header-title-wrapper
    //-           .section__header-title Products
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
    //-     // income
    //-     .section__main.income.section__main-inactive
    //-       .section__header
    //-         .section__header-title-wrapper
    //-           .section__header-title Income
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
    //-     // promote
    //-     .section__main.promote.section__main-inactive
    //-       .section__header
    //-         .section__header-title-wrapper
    //-           .section__header-title Promote
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
    //-     // help
    //-     .section__main.help.section__main-inactive
    //-       .section__header
    //-         .section__header-title-wrapper
    //-           .section__header-title Help
    //-           .section__header-subtitle Active Members
    //-         .search
    //-           search__label.search__label
    //-             img.search__img(src='./assets/img/search.svg' alt='search')
    //-             input.search__input(type='text' placeholder='Search')
script(defer='' src='./js/main.js')
script(defer='' src='./js/status.js')
script(defer='' src='./js/pagination.js')
script(defer='' src='./js/burger.js')
