/* Header */
.header {
  display: grid;
  grid-template-columns: 306px auto;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  margin: 36px 0 64px 20px;
}

.header__logo-icon {
  font-size: var(--fs-big);
  transition: transform 0.5s ease-in-out;
}

.header__logo:hover .header__logo-icon {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* burger */

.burger__menu {
  display: none;
  position: absolute;
  top: 2px;
}

.burger-icon,
.close-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.section-main {
  transition: width 0.3s ease;
}

.full-width {
  width: 100%;
}

@media (max-width: 1100px) {

  .burger__menu,
  .header {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    height: 100%;
    top: 130px;
    left: 0;
    z-index: 1000;
  }

  .section-main {
    width: 100%;
  }

  .sidebar-active .sidebar {
    transform: translateX(0);
  }

  .close-icon {
    display: none;
  }
}

.header__logo-title {
  font-size: var(--fs-big);
  font-weight: var(--fw-semibold);
  padding-right: 5px;
  padding-left: 10px;
}

.header__logo-version {
  font-weight: var(--fw-regular);
  font-size: var(--fs-extra-small);
  color: var(--c-extra-light-grey);
  padding-top: 10px;
}

.header__greeting {
  display: flex;
  justify-content: space-between;
  padding: 37px 0 51px 71px;
  background-color: var(--c-bgd-grey);
}

.header__greeting-title {
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}

@media (max-width: 1100px) {
  .header__greeting {
    justify-content: flex-end;
    background-color: var(--c-white);
    padding: 0;
  }

  .header__greeting-title {
    display: none;
  }
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 306px auto;
}

@media (max-width: 1100px) {
  .main {
    display: block;
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--c-white);
  transition: transform 0.5s ease;
}

.container {
  padding-left: 28px;
  padding-right: 28px;
}

/* navigation */
.nav__list {
  margin-bottom: 600px;
}

.nav__list-item {
  margin-bottom: 10px;
}

.nav__link {
  width: 250px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: var(--c-icon-grey);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav__link:hover {
  background-color: var(--c-violet);
  color: var(--c-white);
}

.nav__link:hover .icon {
  color: var(--c-white);
}

.nav__link-active {
  background-color: var(--c-violet);
  color: var(--c-white);
}

.nav__link .start {
  font-size: 24px;
  padding-right: 14px;
}

.icon-chevron-right {
  margin-left: auto;
}

/* manager */
.manager {
  display: flex;
  align-items: center;
  margin-bottom: 76px;
}

.manager__info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.manager__name {
  font-weight: var(--fw-regular);
  color: var(--c-black);
}

.manager__position {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
}

/* Section */

.section {
  padding-top: 40px;
  background-color: var(--c-bgd-grey);
  padding-left: 70px;
  padding-right: 95px;
}

@media (max-width: 1100px) {
  .section {
    padding-left: 10px;
  }
}

.section__main {
  background-color: var(--c-white);
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 30px;
}

.section__main-inactive {
  display: none;
}

.section__main-active {
  display: block;
}

.section__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 53px;
}

@media (max-width: 600px) {
  .section__header-title-wrapper {
    padding-bottom: 20px;
  }
}

.section__header-title {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-middle);
  color: var(--c-black);
  margin-bottom: 7px;
}

.section__header-subtitle {
  font-weight: var(--fw-regular);
  color: var(--c-green);
}

.search {
  position: relative;
}

.search__img {
  position: absolute;
  top: 8px;
  left: 9px;
  pointer-events: none;
}

.search__input {
  max-width: 216px;
  border: none;
  outline: none;
  background-color: var(--c-bgd-grey);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  cursor: pointer;
}

.search__input::placeholder {
  font-weight: var(--fw-regular);
  font-size: var(--fs-small);
  color: var(--c-grey);
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-info {
  color: var(--c-grey);
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
  }

  .footer-info {
    margin-bottom: 20px;
  }
}

/* Pagination */

.pagination {
  display: flex;
  gap: 15px;
}

@media (max-width: 450px) {
  .pagination {
    gap: 2px;
  }
}

.pagination button {
  width: 30px;
  height: 24px;
  line-height: 12px;
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  color: var(--c-arrow-grey);
  transition: background-color .3s;
  background-color: var(--c-bgd-grey);
  border: 1px solid var(--c-ultralight-grey);
  border-radius: 4px;
}

.pagination__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-arrow-left,
.icon-arrow-right {
  display: block;
  width: 8px;
  height: 12px;
}

.pagination__button.active {
  background-color: var(--c-violet);
  color: var(--c-white);
}

.pagination__button:hover:not(.active) {
  background-color: var(--c-ultralight-grey);
}